.star-rating-form input[type="radio"] {
    display: none;
}

.post-review-button {
    background: rgba(224, 7, 7, 0.849);
    color: white;
    width: 30%;
    border: grey;
    border-radius: 4px;
    height: 3rem;
    margin: 1.5rem 0;
    font-size: 1rem;
}

.post-review-button:hover {
  cursor: pointer;
  background: rgba(224, 81, 81, 0.7);
}
