.all-businesses-container {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}

.individual-business-card {
    display: table;
    margin: 10px 0px;
    width: 90%;
}

.business-card-info {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    padding: 24px;
}

.left-side-of-business-card {
    padding-right: 20px;
}

.business-card-info:hover {
    text-decoration: none;
}

.business-card-info:link {
    text-decoration: none;
}

.business-card-info:visited {
    text-decoration: none;
}

.business-card-info:active {
    text-decoration: none;
}

.business-card-image {
    width: 200px;
    height: 200px;
}

.business-card-label {
    margin: 15px 0px;
}

.star-icon {
    width: 18px;
    height: 18px;
    background: rgb(255, 100, 61);
    color: white;
    margin: 0px 2px;
    padding: 5px;
}

.star-icon-half {
    width: 18px;
    height: 18px;
    color: white;
    margin: 0px 2px;
    padding: 5px;
    background: linear-gradient(to right, rgb(255, 100, 61) 0%, rgb(255, 100, 61) 50%, rgb(187, 186, 192) 50%, rgb(187, 186, 192) 100%);
}

.star-icon-empty {
    width: 18px;
    height: 18px;
    color: white;
    margin: 0px 2px;
    padding: 5px;
    background: rgb(187, 186, 192);
}

.dollar-icon {
   font-size: small;
}

.business-card-label-name {
    margin: 15px 0px;
    font-weight: bold;
    font-size: 1.5rem;
}

.business-card-info:hover .business-card-label-name {
    text-decoration: underline;
}

.business-card-label-rating {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.business-card-label-rating-text {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: 1rem;
}
